<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Buffer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>Copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Delicious.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Diigo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Dropbox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>Email.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Evernote SDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Evernote.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Facebook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Flickr SDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>Flickr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>FoursquareV2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Google Plus SDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>Google Plus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>Hatena.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>Instagram.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>Instapaper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>Kippt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>LinkedIn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>Logout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>OAuth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Open in Safari.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Pinboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>Plurk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>Pocket SDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>Pocket.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>Print.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Reachability.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Readability.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>Resource Bundle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SSKeyChain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Save to Album.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Sina Weibo 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>Sina Weibo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>Static Library Core.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Static Library.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Text Message.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Tumbl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>Twitter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>VKontakte.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>YouTube SDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>YouTube.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4503EBB8169104470057294C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A0F91D1156BA2A0009CB40A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A16F36F161340DD0019645D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A16F3B316134A890019645D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A1AFCB1160E11F90086B98A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A1AFCC2160E123C0086B98A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A1AFCD3160E127B0086B98A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A1AFD15160E13740086B98A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A1AFD2B160E14340086B98A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A203D0216EB7DA200421995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A49DBBB16BC193E004B7E78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A4E4652173E2B2900CCEE80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A4E465B173E2C2500CCEE80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AA83BAA1705E355009C483A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AAE8C9D16EB960500429C51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AB5342D1552AADD00171BCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AB5360E1552E26800171BCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AC2A38E16597F4C0089ABE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AECF31A171D5194000722FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AECF324171D51C3000722FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949BCB84172A993000D706D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AABBECB6162F063F009D46E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AABBECC1162F0719009D46E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AABBECCA162F0756009D46E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AABBECD3162F0779009D46E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AABBECDC162F07B4009D46E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AABBECE5162F07DF009D46E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AABBECEE162F080F009D46E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AABBECF7162F0835009D46E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AABBED00162F0858009D46E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AABBED09162F087F009D46E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AABBED12162F08A3009D46E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AABBED1C162F08E6009D46E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AABBED25162F0B65009D46E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AABBED38162F0B86009D46E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AABBED47162F0BA7009D46E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AABBED5A162F0BE8009D46E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AABBED63162F0C03009D46E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AABBED6C162F0C1A009D46E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AABBED7E162F0C4D009D46E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE334C2016F3339300FF692B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
